#body{
	width:100%;
	border:2px solid pink;
	margin: auto;
	display: inline-block;
}
#nav{
	width:25%;
	border:2px solid green;
	margin: auto;
	display: inline-block;
	vertical-align: top;
	background-color: rgb(158, 180, 252);
}
#main{
	width:70%;
	border:2px solid green;
	margin: auto;
	display: inline-block;
}